@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    /* Paleta de cores */
    --cor-principal: #1721DD;
    --cor-01: #FFFFFF;
    --cor-02: #dfdfdf;
    --cor-03: #F2662B;
    --cor-secundaria: #F0500C;
    --cor-04: #8B90EE;
    --cor-05: #232323;
    --cor-06: #8e8e8e;

    --sombra: 0 0 0.5rem 0.2rem var(--cor-04);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-02);
    color: var(--cor-05);
}
/* barra de navegação */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    z-index: 10000;

}
.logo {
    color: var(--cor-04);
    font-family:"Libre Baskerville", serif;
    font-size: 1.2rem;
}
nav ul{
    list-style-type: none;
    display: flex;
}

nav a{
    text-decoration: none;
    color: var(--cor-01);
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    font-weight: 700;
    transition: 0.3s;
    text-transform: uppercase;
}
nav a:hover{
    cursor: pointer;
    color: var(--cor-04);
}

/* header (cabeçalho) */
header{
    height: 20rem;
    margin-top: 4rem;
    background-color: var(--cor-05);
    color: var(--cor-03);
}

/* sections */
section{
    min-height: 80vh;
    padding: 5rem 2rem;
}
/* Card do imovel */
#imoveis {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    border:solid 1px purple;
}

.imovel {
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.5s;
    padding: 0.8rem;
    background-color: var(--cor-01);
    border: solid 1px var(--cor-06);
}

.imovel:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: var(--sombra);
}

.foto {
    height: 14rem;
    width: 100%;
    border: solid 1px var(--cor-06); 
}

.foto img {
    height: 100%;
    width: 100%;
}

.conteudo{
    height: auto;
}

.conteudo h3, p{
    margin: 0.5rem auto;
}

.info{
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info div{
    width: 50%;
}

.info span{
    display: block;
}

.valor-imovel{
    font-size: 1.5rem;
}

/* footer */

footer{
    min-height: 16rem;
    background-color: var(--cor-principal);
    color: var(--cor-01);
    padding: 5rem 2rem;
}

form{
    width: 40%;
    margin: 5rem auto;
    border: solid 1px;
    min-height: 20rem;
    padding: 3rem;
}

form h2{
    text-align: center;
}

form input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid var(--cor-04);
}

form button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--cor-03);
    color: var(--cor-01);
    border: none;
}

form button:hover{
    cursor: pointer;
    background-color: var(--cor-01);
    color: var(--cor-03);
    transition: 0.4s;
}